<div class="jumbotron">
  <div class="container">
    <h1>Barter</h1>
    <p>
      a new old medium of exchange
    </p>
    <p><a class="btn btn-primary" href="#posts" role="button">Let's go!</a></p>
  </div>
</div>

<% if @posts.blank? %>
  <h4> <%= params[:search] %> returned no results </h4>
<% end %>


<section id="posts">
 <div class="container">
   <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-4">
      <div class="thumbnail">
        <img> <%= link_to (image_tag post.photo.url(:medium)), post %> </img>
          <h3>  <%= link_to (post.title), post %> </h3>
          <p> <%= post.description %> <br>
           $<%= post.price %> <br>
          <%= comment_count= pluralize(post.comments.count, "Response") %> </p>
          <p> <%= link_to 'Barter', post_path(post), :class => 'btn btn-primary', :role => 'button' %> 
          <%= link_to 'Buy', new_charge_path(post), :class => 'btn btn-primary', :role => 'button' %> </p>
         <p> Posted in <%= post.suburb %> about <%= time_ago_in_words(post.created_at) %> ago </p>
         </div>
        </div>
<% end %>

      </div>
   </div>
 </section>



        